body{
    font-family: 'Montserrat', sans-serif;
}

.cover-background {
    background-image: url("../img/imagen7.jpg");
}

.background{
    background-image: url("../img/imagen3.jpg");
    background-size: cover;
}

.background-2{
    background-image: url("../img/4.jpg");
    background-size: cover;
}

.background-3{
    background-image: url("../img/5.jpg");
    background-size: cover;
}

.padding-53px{
    padding: 53px 0;
}

.btn-primary{
    background: #1d998a;
    border: 0;
}

.btn-primary:hover{
    background: #10695e;
}

.boton{
    width:42px;
    height:42px;
    background-color:#10695e;
    margin: 5px;
    padding: 8px 10px 0 11px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-transform: uppercase;
    float:right;
}

    .boton:hover{
        opacity: 0.50;
        -moz-opacity: .50;
        filter:alpha (opacity=50);
    }

    .boton a{
        color:#fff;
        text-decoration:none;
        padding:5px 5px 5px 0;
    }

.add{
    width: 16px!important;
    margin: 0 auto;
}

.header{
    color: white;
}

.list-style-5 li:before, .readmore:after{
    content: none;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100vh;
}

.homepage-hero-module .video-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #111;
}

.homepage-hero-module .video-container #video {
    position: relative;
    background: 0 0;
    min-width: 100%;
    min-height: 100%;
    filter: opacity(0.7);
}

.homepage-hero-content {
    position: absolute;
    z-index: 99;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    top: calc(50% - 160px);
}

.parrafo-header{
    font-size: 16px;
    margin-top: 30px;
}

.homepage-hero-content h2 {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 44px;
    color: white;
}

.butn.theme:hover {
    color: white!important;
}

.list-style-5 li{
    padding: 0 0 10px 0px;
}

.center-justified{
    text-align: justify!important;
    text-align-last: center;
}

.left-justified{
    text-align: justify!important;
    text-align-last: left;
}

.right-justified{
    text-align: justify!important;
    text-align-last: right;
}

.section-heading-2{
    background-image: url("../img/Untitled-2.jpg");
    background-size: cover;
}

@media (min-width: 768px){
    .homepage-hero-content h2 {
        width: 900px;
        margin: 0 auto;
        line-height: 72px;
        font-size: 55px;
    }

    .parrafo-header{
        font-size: 16px;
        margin-top: 30px;
        width: 900px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px){
    header.scrollHeader .navbar-default .navbar-nav>li>a{
        color: black;
    }

    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 20px rgba(0,0,0,0);
    }

    .navbar-default{
        box-shadow: 0 4px 20px rgba(0,0,0,0);
    }

    .navbar-nav>li>a {
        color: white;
    }

    .fixedHeader .navbar{
        border: 2px solid #1d998a;
        border-width: 0px 0px 2px 0;
    }

    

    .navbar>ul>li.has-sub>a:after {
        border-color: transparent #1d998a #1d998a transparent;
    }
}
